<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<!-- Servlets -->
	
	<!-- Servlet mappings -->
 <servlet>
    <servlet-name>ParkController</servlet-name>
    <servlet-class>semanticweb.controller.ParkController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkController</servlet-name>
    <url-pattern>/park</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>semanticweb.controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

 
</web-app>